[tool.poetry]
name = "avatars"
version = "0.1.11"
description = "Python Interface for Octopize's Avatarization Engine"
authors = ["Octopize <help@octopize.io>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.8"
httpx = "^0.23.0"
tenacity = "^8.0.1"
pydantic = "^1.9.0"
pandas = {version = "^1.4.2", optional = true} # for the tutorial

[tool.poetry.extras]
pandas = ["pandas"]

[tool.poetry.dev-dependencies]
blacken-docs = "^1.12.1"
Sphinx = "^4.0.0"
sphinx-autodoc-typehints = "^1.18.1"
beautifulsoup4 = "^4.11.1"
typer = "^0.4.1"
furo = "^2022.4.7"
black = "^22.3.0"
isort = "^5.10.1"
bandit = "^1.7.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/black_compatibility.html
profile = "black"
